<script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"     
onload="if(submitted) {document.getElementByClass("chat_post_input").value = "";}></iframe>
      <form action="https://docs.google.com/forms/d/1ZE66gIU2Qb10MmluYxXOstpgchH-saJpqpxtwbdgyis/formResponse?embedded=true" method="post" target="hidden_iframe" 
onsubmit="submitted=true;">
      <div>
        <label class="chat_post_label" for="entry_1737242977">
          <div dir="auto">Minecraft Name:</div>
        </label>
        <input class="chat_post_input" type="text" name="entry.1737242977" value="" id="entry_1737242977 my-name" dir="auto" aria-label="Minecraft Name" title="">

        <label class="chat_post_label" for="entry.1563494232">
          <div dir="auto">Message:</div>
        </label>
        <input class="chat_post_input" type="text" name="entry.1563494232" value="" " id="entry_1563494232 my-message" dir="auto" aria-label="Message" title="">
      </div>
      <input action="./chat_post.html" type="submit" name="submit" value="Send" id="ss-submit">
  </form>