$black_foreground: #000000;
$dark_blue_foreground: #0000AA;
$dark_green_foreground: #00AA00;
$dark_aqua_foreground: #00AAAA;
$dark_red_foreground: #AA0000;
$dark_purple_foreground: #AA00AA;
$gold_foreground: #FFAA00;
$gray_foreground: #AAAAAA;
$dark_gray_foreground: #555555;
$blue_foreground: #5555FF;
$green_foreground: #55FF55;
$aqua_foreground: #55FFFF;
$red_foreground: #FF5555;
$light_purple_foreground: #FF55FF;
$yellow_foreground: #ffff55;
$white_foreground: #FFFFFF;


$black_background: #000000;
$dark_blue_background: #00002A;
$dark_green_background: #002A00;
$dark_aqua_background: #002A2A;
$dark_red_background: #2A0000;
$dark_purple_background: #2A002A;
$gold_background: #3F2A00; //Gold (Wiki says 2A2A00)
$gray_background: #2A2A2A;
$dark_gray_background: #151515;
$blue_background: #15153F;
$green_background: #153F15;
$aqua_background: #153F3F;
$red_background: #3F1515;
$light_purple_background: #3F153F;
$yellow_background: #3F3F15;
$white_background: #3F3F3F;

