<!DOCTYPE html>
<html>
    <head>

        {% include scripts.html %}
        {% include meta.html %}
        {% include stylesheets.html %}

        {% include title.html %}
    </head>
    <body>

        {% include header.html %}
        <div id="frame_canvas">
            <iframe id="frame" height="600px" width="800px"></iframe>
            {{ content }}
        </div>
        <embed height="400" width="400" src="https://widgetbot.io/embed/322477060872208386/322477060872208386/0002/?lang=en" />

    </body>
</html>